body
{
	background-color: black;
	margin: 0px;
}
html
{
	margin: 0px;
	padding: 0px;
}
header
{
	text-align: center;
	background-color: black;
	padding: 1px;
	color: white;
}
footer
{
	border-top: 1px solid black;
    text-align: right;
	background-color: black;
    padding-right: 3%;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}
div
{
	text-align: center;
	background-color: white;
}
path
{
	fill: #090041;
	stroke: grey;
    stroke-width: 0.2
}
path:hover
{
	fill: yellow;
}
/*-----------------------------------------------------------------*/
/*------------------------PAGE data--------------------------------*/
/*-----------------------------------------------------------------*/
.data_h1
{
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 0;
	border-bottom: 1px solid black;

}
.pathdep_data
{
	display: flex;
	padding: 3%;
}
.data_text
{
	width: 100%;
}
.data_text_div
{
	width: 80%;
	padding-left: 3%;
    padding-right: 3%;
	border: 1px solid black;
}
.data_answer
{
	background-color: #535353;
	color: white;
	text-decoration: bold;
	padding: 10px;
	border-radius: 5px;
}

.contenu_page
{
	background-color: white;
	color: black;
}
